#pricing-plans .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#pricing-plans hr {
    margin: 1.5rem 0;
}

#pricing-plans .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

#pricing-plans .card-price {
    font-size: 3rem;
    margin: 0;
}

#pricing-plans .card-price .period {
    font-size: 0.8rem;
}

#pricing-plans ul li {
    margin-bottom: 1rem;
}

#pricing-plans .text-muted {
    opacity: 0.7;
}

#pricing-plans .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

#pricing-plans .helper-tooltip {
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
}